apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.external-secrets.io
    chart: external-secrets
    targetRevision: 1.1.0
    helm:
      values: |
        installCRDs: true
        tolerations:
          - key: node-type
            operator: Equal
            value: system
            effect: NoSchedule
        nodeSelector:
          node-type: system
        webhook:
          tolerations:
            - key: node-type
              operator: Equal
              value: system
              effect: NoSchedule
          nodeSelector:
            node-type: system
          certManager:
            enabled: true
            cert:
              issuerRef:
                name: selfsigned-ca-issuer
                kind: ClusterIssuer
        certController:
          enabled: false
        serviceAccount:
          annotations:
            eks.amazonaws.com/role-arn: "arn:aws:iam::706171413658:role/ExternalSecretsRole-kratix-demo-20251208122751620900000001" # Will be set via IRSA
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
