apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kratix-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/NoNickeD/kratix-demo.git
    path: kubernetes/kratix
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: kratix-platform-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
